<div>
    <mat-card cdkDrag [style.transform]="sticky.transform" *ngFor="let sticky of stickiesArr;let i=index"
        (contextmenu)="onRightClick($event, {id: sticky.id})" [id]="sticky.id+'note'"
        class="col-3 mat-elevation-z8 customnote">
        <div class="options w-100">
            <app-contextmenu #contextmenu (addNote)="makeNewNote($event)" (editNote)="setFocus($event)"
             (removeNote)="removeNote($event)" (addLike)="addLikes($event)" [sticky]="sticky" [arrLength]="stickiesArr.length">
            </app-contextmenu>
        </div>
        <div class="m-auto">
            <div class="d-flex justify-content-center custom-center">
                <span *ngIf="editableId != sticky.id" class="noteName">{{sticky.name}}</span>
                <span *ngIf="editableId == sticky.id">
                    <input #edit type="text" class="editInput" (focusout)="editLabel(sticky.id,noteLabel)"
                        [(ngModel)]="noteLabel" [placeholder]="PLACEHOLDER" />
                </span>
            </div>
        </div>
        <span class="likes">{{sticky.likes}}</span>
    </mat-card>
</div>